.header-logo img {
    width: 150px;  /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio */
}
:root {
    --primary-bg: #FFF8ED;
    --secondary-bg: #fff;
    --primary-text-color:#B5441C;
    --primary--hover-color:#667084;
    --secondary-text-color:#8693ae;
    --button1-color:#b5441c;
    --button1-hover:#9B3A17;
    --button2-color:#ffffff;
    --button2-hover:#B5441C;
    --border-color: #80461B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#FFFAE5;
    color: var(--text-color);
    font-size: 1rem; /* Base font size */
    line-height: 1.6; /* Improved readability */
    
}

.header {
    background-color: var(--primary-bg);
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
}

.header-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.header-logo-img {
    border: #333333;

    width: 50px;
    height: 60px;
    margin-right: 10px;
}

.header-nav {
    display: flex;
    gap: 25px;
}

.header-nav a {
    color: var(--primary-text-color);
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding-bottom: 2px;
}

.header-nav a:hover {
    color: var(--primary--hover-color);
    border-bottom: 2px solid var(--accent-color);
}


.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    min-height: 100vh; /* Ensures the container grows with content */
    background-image: url('Assets/bg-img.jpg'); /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image within the element */
    background-attachment: fixed; /* Fixes the background image while scrolling */
}


.intro {
    padding: 50px 20px; /* Ensure proper padding for the content */
    text-align: center;
}


.intro h1 {
    margin-bottom: 6px;
    color: var(--primary-text-color);
}

.intro p {
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.get-start-btn {
    background-color: var(--button2-color);
    color: var(--primary-text-color);
    border: none;
    cursor: pointer;
    font-size: 14px;     
    letter-spacing: 1px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var( --primary-text-color );
    border-radius: 30px 30px 30px 30px;
    padding: 18px 28px 18px 28px;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    align-self: stretch;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button2-hover);
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.exercises {
    padding: 40px 20px;
    text-align: center;
    background-color: transparent; /* Ensure it's transparent if you want the background image visible */
}
.exercises h2 {
    margin-bottom: 20px;
    color: var(--primary-text-color);
    font-size: 2em;
}

.exercise-list {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.exercise-item {
    background-color: #00000080;
    /* opacity: 0.5; */
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 350px;
    height: 391px;
    position: relative;
    text-align: center;
    color: black;
}
.exercise-item img{
    width: 100%;  /* Ensures the image takes the full width of its container */
    height: 100%; /* Set a fixed height for the images */
    object-fit: cover; /* Ensures the image covers the container without distorting */
    border-radius: 30px;
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
}

.exercise-content {
    position: absolute; 
    top: 0;
    bottom: 0;
    /* left: 0; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px 20px;
}


.Try-it-btn {
    background-color: var(--button2-color);
    color: var(--primary-text-color);
    border: none;
    cursor: pointer;
    font-size: 14px;     
    letter-spacing: 1px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var( --primary-text-color );
    border-radius: 30px 30px 30px 30px;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    /* align-self: stretch; */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease;
    width: 200px;
}

.Try-it-btn:hover {
    background-color: var(--button2-hover);
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.exercise-item:hover {
    transform: translateY(-10px);
}

.benefits {
    padding: 40px 20px;
    text-align: center;
    background-color: transparent; /* Ensure it's transparent if you want the background image visible */
}
.benefits h2 {
    margin-bottom: 20px;
    color: var(--primary-text-color);
    font-size: 2em;
}

.benefit-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.benefit-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid var(--border-color);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    width: 30%;
    color: #9C3815;
}


.testimonial-image {
    width: 80px;  /* Small circle size */
    height: 80px; /* Ensure width and height are equal */
    border-radius: 50%; /* Makes the image a circle */
    object-fit: cover; /* Ensures the image covers the circle properly */
    margin: 0 auto; /* Center the image if needed */
    display: block; /* Ensure it acts as a block-level element */
}


.testimonials h2 {
    margin-bottom: 20px;
    color: var(--primary-text-color);
    font-size: 2em;
}

.testimonial-list {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.testimonial-item {
    background-color: var(--primary-bg);

    border-radius: 30px;
    width: 30%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    
    
}


/* Updated styling for equal height and width of images */
.testimonial-item img {
    width: 100%;  /* Ensures the image takes the full width of its container */
    height: 300px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensures the image covers the container without distorting */
    border-radius: 30px;
    margin-bottom: 10px;
}

.testimonial-item p {
    width: 100%;  /* Ensures the image takes the full width of its container */
    text-align: left;
    font-size: 17px;
    line-height: 2em;
    color: var(--primary-text-color);
    font-weight: 400;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
